body {
  font-family: 'Montserrat', sans-serif;
}
nav h3 {
  font-family: 'Libre Baskerville', serif;
}

h2 {
  font-size: 3rem;
}

h1 {
  font-size: 3rem;
}

.carousel-indicators {
  top:;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
